.hero{
    height: 270px;
    display: block;
    background-color:#121212;
}
.herosub{
    display: flex;
    justify-content: center;
    align-items: center;
}



.herotext{
    color: #FFFFFF;
    text-align: center;
    width: 556px;
    height: 100px;
    /* padding-top: 171px;
    padding-left: 327px; */
    font-size: 32px;
    font-weight: 600px;
    font-family: 'poppins';
}
