
.wrapper{
    width: 160px;
}


.cardimg{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
}

.abc{
    height: 21px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;    
}
.banner{
    width: 100%;
    height: 30px;
    background-color: #FFFFFF;
    color: #121212;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    .cardchip{
        margin-left: 6px;
        margin-top: 5px;
        color: #FFFFFF;
        background-color: #121212;
    }
}

.main{
    background-color: #FFFFFF;
    width: 159px;
    height: 205px;
    border-radius: 10px;
    gap: 6px;
}

